body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    width: 900px;
    margin: 0 auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

header > img {
  /*Logo*/
  display: inline-block;
  width: 100px;
  /*float: left;*/
}

nav {
    float: right;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 20px;
    display: block;
}

.main {
  width: 700px;
  display: inline-block;
}

aside {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  padding-right: 20px;
}


.ingredients-list li {
    margin: 15px 0px;
}

.directions > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"], select, textarea {
  width: 300px;
}

select {
  margin: 1px;
}
